* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.slider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: gainsboro;
  width: 100%;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.item {
  display: none;
}

.item img {
  width: 50%;
  object-fit: contain;
}

/* Animasi */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
